#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.nav {
  border: 4px solid green;
}
.articles {
  border: 4px solid blue;
}
.article-card {
  border: 4px solid navy;
}
